#footer {
    position: fixed;
    top: 10px;
    right: 10px;
}

#music_btn {
    position: relative;
    margin: 0 auto;
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../img/bgm.png) no-repeat;
}

.play {
    background-position-y: 0px !important;
}

.mute {
    background-position-y: -40px !important;

}