html {
    overscroll-behavior: none;
    touch-action: pan-y;
}

#jsi-cherry-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    opacity: 0.618;
    z-index: 99;
}

canvas {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}

@keyframes heartbit {
    0% {
        transform: rotate(45deg) scale(0.5);
    }

    100% {
        transform: rotate(45deg) scale(1);
    }
}

.heart {
    width: 200px;
    height: 200px;
    background: #e74949;
    position: absolute;
    transform: rotate(45deg) scale(0.5);
    animation: heartbit 0.5s alternate infinite;
}

.heart::before {
    content: '';
    width: 200px;
    height: 100px;
    background: #e74949;
    position: absolute;
    left: 0;
    top: -99px;
    border-radius: 100px 100px 0 0;
}

.heart::after {
    content: '';
    width: 100px;
    height: 200px;
    background: #e74949;
    position: absolute;
    left: -99px;
    top: 0;
    border-radius: 100px 0 0 100px;
}