 #btn {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	margin: 100px auto;
	border: 1px solid #783839;
	border-radius: 50%;
	background: url('../assess/STAMP.jpg');
	background-size: 50px 50px;
	background-position: 0 0;
}

#data{
	height: 200px;
	width: auto;
	overflow-y: auto;
}

#data::-webkit-scrollbar{
	height: 1px;
}

/* #data::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 2);
	background: #ebebeb;
}

#data::-webkit-scrollbar-track{
	border-radius: 10px;
	background: #fff;
} */

html {
	line-height: 1;
}

body {
	background: url(../assess/BACKGROUND.jpg);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#recipient {
	font-size: 1.5em;
	line-height: 1.6;
	float: left;
	font-family: 'STKaiti';
}

.typed-cursor {
	opacity: 0;
}


a {
	color: #9b4849;
	text-decoration: none;
	display: block;
}

a:hover {
	color: #783839;
}

#open {
	width: 150px;
	text-align: center;
	margin-top: 50px;
	margin-left: 200px;
}

#about {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	margin: 160px 20px;
	float: left;
}

#flip {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	margin: 160px 20px 0 0;
	float: right;
}

#flip2back {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	margin: 170px 0 0 0;
	float: right;
}

#close {
	position: absolute;
	bottom: 10px;
	right: 10px;
}


/*****************************/

section.container {
	position: relative;
	width: 600px;
	height: 300px;
	margin: 200px auto 0;
	perspective: 1000px;
}

section.container > form.flip {
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	transition: transform 0.7s 0s;
	transform-origin: center center;
}

section.container > form.flip > .front, section.container > form.flip > .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

section.container > form.flip > .back {
	transform: rotateY(180deg);
	background: #837362;
	box-shadow: inset 0 10px 30px -10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
}

section.container:target > form.flip {
	transform: rotateY(0deg);
}

.no-csstransforms3d section.container:target > form.flip > .back {
	display: none;
}

.container#lid {
	position: relative;
	width: 100%;
	height: 50%;
	perspective: 800px;
	z-index: 2;
	transition: z-index 0s 1s;
}

.no-csstransforms3d .container#lid {
	transition: none;
}

#content:target .container#lid {
	z-index: -1;
	transition: z-index 0s .5s;
}

.no-csstransforms3d #content:target .container#lid {
	transition: none;
}

.no-csstransforms3d .container#lid .back {
	display: none;
}

.no-csstransforms3d #content:target .container#lid .back {
	display: block;
	top: -150px;
}

#lid .flip {
	width: 100%;
	height: 100%;
}

#lid .flip {
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 0.5s 1s;
	transform-origin: left top;
}

#lid .flip > .front, #lid .flip > .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

#lid .flip > .back {
	transform: rotateX(180deg);
}

#content:target #lid .flip {
	transform: rotateX(180deg);
	transition-duration: 0.5s;
	transition-delay: 0s;
}

#letter .flip > div, #lid .flip > div, section.container > form.flip > div {
	box-sizing: border-box;
}

#lid .flip .front, section.container > form.flip .front {
	background: beige;
	border: 1px #eae1d5 solid;
	box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.6), 0 2px 3px -2px rgba(0, 0, 0, 0.6);
	padding: 20px 30px;
	color: #837362;
	text-shadow: 0 1px 0 #fff,0 1px 0 #fff;
}

section.container > form.flip > .front {
	font-size: 1.25em;
	background: url('../assess/STAMP.jpg') no-repeat 500px 20px, beige;
	background-size: 60px 60px;
	padding: 100px 20px 20px 35%;
	border: 1px #eae1d5 solid;
}

#lid .flip .front {
	font-size: 1.25em;
	border-radius: 0 0 40px 40px;
}

#lid .flip .back {
	background: #837362;
	border-radius: 40px 40px 0 0;
	border: 35px solid rgba(255, 255, 255, 0.1);
	border-bottom: none;
	box-shadow: inset 0 10px 30px 10px rgba(0, 0, 0, 0.1);
}

#top {
	text-align: right;
	background: beige;
	box-sizing: border-box;
	width: 100%;
	height: 65%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	border: 1px #eae1d5 solid;
	box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.6), 0 -2px 4px -3px rgba(0, 0, 0, 0.75), 0 2px 3px -2px rgba(0, 0, 0, 0.6);
}

#letter {
	background: #fafafa;
	width: 90%;
	height: 95%;
	position: absolute;
	left: 5%;
	top: 5%;
	z-index: 0;
	transition: 0s 0s;
}

#content:target #letter {
	top: -40%;
	transition: .5s .5s;
}

#letter .container {
	position: absolute;
	width: 100%;
	perspective: 800px;
	top: 0;
	left: 0;
	transition: 0s 0s;
	z-index: 1;
}

#letter .flip {
	width: 100%;
	height: 100%;
}

#letter .flip {
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 0.5s 0s;
	transform-origin: left top;
}

#letter .flip > .front, #letter .flip > .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

#letter .flip > .back {
	transform: rotateX(180deg);
}

#content:target #letter .flip {
	transform: rotateX(180deg);
	transition-duration: 0.5s;
	transition-delay: 1s;
}

#content:target #letter .container {
	z-index: -1;
	transition: z-index 0s 1.5s;
}

#letter .flip .front {
	background: #fafafa;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.no-csstransforms3d #content:target #letter .flip .front {
	display: none;
}

#letter .flip .back {
	background: #fafafa;
	padding: 40px 40px 0;
	font-size: 16px;
	line-height: 1.4;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 -5px 8px -4px rgba(0, 0, 0, 0.15);
}

.no-csstransforms3d #content:target #letter .flip .back {
	top: -140px;
}